$mobile:500px;
$tablet:851px;
$desktop:1200px;
$large:1525px;

@mixin mobile {
    @media screen and (max-width:$mobile){
        @content; 
    }
}

@mixin tablet {
    @media screen and (max-width:$tablet) {
        @content;
    }
}
/*This size or smaller*/
@mixin desktop {
    @media screen and (max-width:$desktop){
        @content;
    }
}

@mixin large {
    @media screen and (max-width:$large){
        @content;
    }
}

