/*This size or smaller*/
.formBox {
  width: 60%;
}

.formBox__text a {
  text-decoration: none;
}

.formBox fieldset {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-line-pack: start;
      align-content: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  border: 0 none;
  padding: 0;
}

.formBox fieldset label {
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
}

.formBox fieldset input {
  width: 100%;
  height: 1.5rem;
  font-family: 'Open Sans', sans-serif;
  font-size: 1rem;
}

.formBox fieldset a {
  text-decoration: none;
}

.formBox fieldset p {
  margin-top: 1rem;
}

@media screen and (max-width: 851px) {
  .formBox fieldset p {
    margin-top: 0.5rem;
  }
}

.inputText {
  font-family: 'Open Sans', sans-serif;
}

.passwordLabel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: space-between;
      -ms-flex-align: space-between;
          align-items: space-between;
  -ms-flex-line-pack: justify;
      align-content: space-between;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  width: 100%;
}

.passwordLabel a {
  font-family: 'Open Sans', sans-serif;
  font-size: 0.8rem;
}

#termsSubmit {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-line-pack: start;
      align-content: flex-start;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

@media screen and (max-width: 851px) {
  #termsSubmit {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -ms-flex-line-pack: start;
        align-content: flex-start;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

#termsSubmit button {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  font-size: 1rem;
  cursor: pointer;
  background-color: white;
  border: 2px solid lightgrey;
  color: grey;
  width: 70%;
  height: 3rem;
}

@media screen and (max-width: 851px) {
  #termsSubmit button {
    width: 100%;
    margin-bottom: 0.8rem;
  }
}

#termsSubmit input {
  padding: 0;
  margin: 0;
  cursor: pointer;
  width: 20%;
}

#termsSubmit label {
  font-weight: 500;
  font-size: 0.85rem;
  cursor: pointer;
  -webkit-box-flex: 4;
      -ms-flex-positive: 4;
          flex-grow: 4;
  width: 100%;
}

@media screen and (max-width: 851px) {
  #termsSubmit label {
    width: 80%;
    font-size: 0.7rem;
  }
}

.pwdRequirements {
  margin-bottom: 1.2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-line-pack: center;
      align-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media screen and (max-width: 500px) {
  .pwdRequirements {
    margin-bottom: 0.5rem;
  }
}

@media screen and (max-width: 851px) {
  .pwdRequirements {
    margin-bottom: 0.5rem;
  }
}

.pwdRequirements__unit {
  font-family: 'Open Sans', sans-serif;
  font-size: 0.9rem;
}

@media screen and (max-width: 500px) {
  .pwdRequirements__unit {
    font-size: 0.6rem;
  }
}

@media screen and (max-width: 851px) {
  .pwdRequirements__unit {
    font-size: 0.8rem;
  }
}

.pwdRequirements__unit ul {
  padding: 0;
  margin-right: 3rem;
  list-style: none;
}

@media screen and (max-width: 500px) {
  .pwdRequirements__unit ul {
    margin-right: 0.4rem;
  }
}

@media screen and (max-width: 851px) {
  .pwdRequirements__unit ul {
    margin-right: 0.9rem;
  }
}

.pwdRequirements__unit ul li:before {
  content: "\2022";
  /* Add content: \2022 is the CSS Code/unicode for a bullet */
  color: #179978;
  /* Change the color */
  font-weight: bold;
  /* If you want it to be bold */
  font-size: 140%;
  display: inline-block;
  /* Needed to add space between the bullet and the text */
  width: 0.6em;
  /* Also needed for space (tweak if needed) */
  margin: 0;
  /* Also needed for space (tweak if needed) */
}

.content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  max-width: 50vw;
  min-height: 90vh;
}

.content img {
  margin: 3rem 5rem 0 0;
  -ms-flex-item-align: start;
      align-self: flex-start;
}

@media screen and (max-width: 851px) {
  .content img {
    width: 7rem;
    height: 7rem;
  }
}

@media screen and (max-width: 500px) {
  .content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-line-pack: center;
        align-content: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    max-width: 60vw;
  }
}

@media screen and (max-width: 851px) {
  .content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-line-pack: center;
        align-content: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    max-width: 70vw;
  }
}

@media screen and (max-width: 1200px) {
  .content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-line-pack: center;
        align-content: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    max-width: 90vw;
  }
}

@media screen and (max-width: 1525px) {
  .content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-line-pack: center;
        align-content: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    max-width: 90vw;
  }
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

body h1 {
  font-family: 'Libre Baskerville', serif;
}

@media screen and (max-width: 851px) {
  body h1 {
    font-size: 1.5rem;
  }
}

body p {
  font-family: 'Open Sans', sans-serif;
  font-size: 0.8rem;
}
/*# sourceMappingURL=main.css.map */